# Keybinds
bind = $mainMod CTRL, C, exec, ~/dia.sh
bind = ,Print,exec,hyprshot -m region --clipboard-only
bind = $mainMod, D, exec, $menu 
bind = $mainMod SHIFT, V, exec, cliphist list | tofi | cliphist decode | wl-copy 

bind = $mainMod, RETURN, exec, $terminal
# bindr = $mainMod, RETURN, exec, ~/.config/hypr/scripts/center_or_tile_workspace.sh

bind = $mainMod, b, exec, $browser
# bindr = $mainMod, b, exec, ~/.config/hypr/scripts/center_or_tile_workspace.sh

bind = $mainMod, E, exec, $filemanager
bind = $mainMod, M, exec, ~/.config/waybar/scripts/mute_script.sh

bind = $mainMod SHIFT, Q, killactive,
# bindr = $mainMod SHIFT, Q, exec, ~/.config/hypr/scripts/center_or_tile_workspace.sh

bind = $mainMod SHIFT, E, exit,

bind = $mainMod, c, togglefloating,

bind = $mainMod, v, togglefloating,
bind = $mainMod, v, centerwindow,

bind = $mainMod, F, fullscreen, 0
bind = $mainMod SHIFT, F, fullscreen, 1

bind = $mainMod, P, pseudo, # dwindle
bind = $mainMod, O, exec, ~/dotfiles/hypr/scripts/center_or_tile_workspace.sh
bind = $mainMod, X, togglesplit, # dwindle

# Window groups
bind = $mainMod, g, togglegroup
bind = $mainMod, tab, changegroupactive, f

# Move focus with mainMod + hjkl
bind = $mainMod, h, movefocus, l
bind = $mainMod, l, movefocus, r
bind = $mainMod, k, movefocus, u
bind = $mainMod, j, movefocus, d

# Move windows with mainMod + altMod + hjkl
bind = $mainMod $altMod, h, movewindoworgroup, l
bind = $mainMod $altMod, l, movewindoworgroup, r
bind = $mainMod $altMod, k, movewindoworgroup, u
bind = $mainMod $altMod, j, movewindoworgroup, d

# Switch workspaces with altMod + [QWERASDF]
bind = $altMod, Q, workspace, name:Q
bind = $altMod, W, workspace, name:W
bind = $altMod, E, workspace, name:E
bind = $altMod, R, workspace, name:R
bind = $altMod, A, workspace, name:A
bind = $altMod, S, workspace, name:S
bind = $altMod, D, workspace, name:D
bind = $altMod, F, workspace, name:F

# Move active window to a workspace with mainMod + SHIFT + [QWERASDF]
bind = $mainMod $altMod, Q, movetoworkspace, name:Q
bind = $mainMod $altMod, W, movetoworkspace, name:W
bind = $mainMod $altMod, E, movetoworkspace, name:E
bind = $mainMod $altMod, R, movetoworkspace, name:R
bind = $mainMod $altMod, A, movetoworkspace, name:A
bind = $mainMod $altMod, S, movetoworkspace, name:S
bind = $mainMod $altMod, D, movetoworkspace, name:D
bind = $mainMod $altMod, F, movetoworkspace, name:F

# Scroll through existing workspaces with mainMod + scroll
bind = $mainMod, mouse_down, workspace, e+1
bind = $mainMod, mouse_up, workspace, e-1

# Move/resize windows with mainMod + LMB/RMB and dragging
bindm = $mainMod, mouse:272, movewindow
bindm = $mainMod, mouse:273, resizewindow

# autoclicker
bind = $mainMod SHIFT, M, exec, ~/dotfiles/hypr/scripts/autoclicker.sh
