themes {
	wallust {
		bg "#151417"
		fg "#FCEFEF"
		red "#BA828E"
		green "#F0927B"
		blue "#E29DFA"
		yellow "#B0BDE8"
		magenta "#A8DDF3"
		orange "#F5D2D1"
		cyan "#F2E0E0"
		black "#151417"
		white "#FCEFEF"
	}
}
