# Keybinds
bind = $mainMod CTRL, C, exec, ~/dia.sh
bind = ,Print,exec,hyprshot -m region --clipboard-only
bind = $mainMod, D, exec, $menu 
bind = $mainMod SHIFT, V, exec, cliphist list | tofi | cliphist decode | wl-copy 

bind = $mainMod, RETURN, exec, $terminal
bind = $mainMod, b, exec, $browser
bind = $mainMod, E, exec, $filemanager
bind = $mainMod, M, exec, ~/.config/waybar/scripts/mute_script.sh

bind = $mainMod SHIFT, Q, killactive,
bind = $mainMod SHIFT, E, exit,
bind = $mainMod SHIFT, L, exec, loginctl lock-session

bind = $mainMod, v, togglefloating,
bind = $mainMod, v, centerwindow,
bind = $mainMod SHIFT, p, pin,

bind = $mainMod, F, fullscreen, 0
bind = $mainMod SHIFT, F, fullscreen, 1

bind = $mainMod, P, pseudo, # dwindle
bind = $mainMod, X, togglesplit, # dwindle

# Window groups
bind = $mainMod, g, togglegroup
bind = $mainMod, tab, changegroupactive, f

# Move focus with mainMod + hjkl
bind = $mainMod, h, movefocus, l
bind = $mainMod, l, movefocus, r
bind = $mainMod, k, movefocus, u
bind = $mainMod, j, movefocus, d

# Move windows with mainMod + altMod + hjkl
bind = $mainMod $altMod, h, movewindoworgroup, l
bind = $mainMod $altMod, l, movewindoworgroup, r
bind = $mainMod $altMod, k, movewindoworgroup, u
bind = $mainMod $altMod, j, movewindoworgroup, d

# Resize windows with mainMod + altMod + Shift hjkl
bind = $mainMod $altMod SHIFT, h, resizeactive, -10% 0
bind = $mainMod $altMod SHIFT, l, resizeactive, 10% 0
bind = $mainMod $altMod SHIFT, k, resizeactive, 0 -10%
bind = $mainMod $altMod SHIFT, j, resizeactive, 0 10%

# Switch workspaces with altMod + [QWERASDF]
bind = $altMod, Q, workspace, name:05 
bind = $altMod, W, workspace, name:06 
bind = $altMod, E, workspace, name:07 
bind = $altMod, R, workspace, name:08 
bind = $altMod, A, workspace, name:01 
bind = $altMod, S, workspace, name:02 
bind = $altMod, D, workspace, name:03 
bind = $altMod, F, workspace, name:04 
bind = $altMod, Z, workspace, name:09 
bind = $altMod, X, workspace, name:10
bind = $altMod, C, workspace, name:11
bind = $altMod, V, workspace, name:12

# Move active window to a workspace with mainMod + SHIFT + [QWERASDF]
bind = $mainMod $altMod, Q, movetoworkspace, name:05
bind = $mainMod $altMod, W, movetoworkspace, name:06
bind = $mainMod $altMod, E, movetoworkspace, name:07
bind = $mainMod $altMod, R, movetoworkspace, name:08
bind = $mainMod $altMod, A, movetoworkspace, name:01
bind = $mainMod $altMod, S, movetoworkspace, name:02
bind = $mainMod $altMod, D, movetoworkspace, name:03
bind = $mainMod $altMod, F, movetoworkspace, name:04
bind = $mainMod $altMod, Z, movetoworkspace, name:09
bind = $mainMod $altMod, X, movetoworkspace, name:10
bind = $mainMod $altMod, C, movetoworkspace, name:11
bind = $mainMod $altMod, V, movetoworkspace, name:12

# Scroll through existing workspaces with mainMod + scroll
bind = $mainMod, mouse_down, workspace, e+1
bind = $mainMod, mouse_up, workspace, e-1

# Move/resize windows with mainMod + LMB/RMB and dragging
bindm = $mainMod, mouse:272, movewindow
bindm = $mainMod, mouse:273, resizewindow

# autoclicker
bind = $mainMod SHIFT, M, exec, ~/dotfiles/hypr/scripts/autoclicker.sh
