# Env varibales
env = HYPRSHOT_DIR,~/Pictures/Screenshots
env = XCURSOR_SIZE,32
env = XCURSOR_THEME,BreezeX-RoséPine
env = HYPRCURSOR_SIZE,32
env = HYPRCURSOR_THEME,rose-pine-hyprcursor
env = XDG_CURRENT_DESKTOP,Hyprland
env = XDG_SESSION_TYPE,wayland
env = XDG_SESSION_DESKTOP,Hyprland
env = QT_QPA_PLATFORM,wayland
