# Startup
exec = gsettings set org.gnome.desktop.interface gtk-theme "Adwaita-dark"
exec = gsettings set org.gnome.desktop.interface color-scheme "prefer-dark"   # for GTK4 apps
exec = ddcutil setvcp 10 100

# System stuff
exec-once = ln -s $XDG_RUNTIME_DIR/hypr /tmp/hypr
exec-once = systemctl --user start hyprpolkitagent
exec-once = flatpak run org.signal.Signal
exec-once = swaync # dunst
exec-once = wl-paste --watch cliphist store
exec = ~/.config/hypr/hypridle.sh

exec = ~/.config/waybar/waybar.sh
exec = ~/.config/hypr/hyprpaper.sh
# exec-once = mpvpaper -o "--no-audio --loop --panscan=1.0 --video-align-y=-1"  DP-3 ~/Videos/wallpapers/2b-blade-of-automata.3840x2160.mp4

# Apps
exec-once = 1password --silent
exec-once = localsend --hidden
exec-once = steam -silent
exec-once = [workspace name:D silent] $browser
exec-once = [workspace name:E silent] $discord
exec-once = [workspace name:F silent] $terminal
exec-once = [workspace name:R silent] $mail
