general {
    gaps_in = 0 # 2
    gaps_out = 0 # 4
    border_size = 0
    col.active_border = $muted
    col.inactive_border = $surface
    layout = dwindle
}

# Groups
group {
  col.border_inactive = $muted
  col.border_active = $rose $rose $rose 45deg
  groupbar {
    font_family = $fontFamily
    col.active = $rose
    col.inactive = $muted
    text_color = $base
    render_titles = false
    height = 0
    stacked = false
  }
}


decoration {
  rounding = 0
  rounding_power = 2.0
  active_opacity = 1.0
  inactive_opacity = 0.95
  dim_inactive = 1
  dim_strength = 0.5
  blur {
    enabled = true
    size = 3
    passes = 3
    popups = false
    noise = 0.1
  }
  shadow {
    enabled = false
    range = 64
    render_power = 4
    color = 0x33000000
  }
}

blurls = launcher

layerrule = blur, waybar
layerrule = ignorezero, waybar
layerrule = ignorealpha 0.5, waybar

layerrule = blur, launcher

animations {
    enabled = true
    bezier = myBezier, 0,.8,.2,1
    animation = windows, 1, 2, myBezier
    animation = windowsOut, 1, 2, myBezier
    animation = border, 1, 2, default
    animation = borderangle, 1, 2, default, once
    animation = fade, 1, 2, default
    animation = workspaces, 1, 2, default, slidefade 5%
}

dwindle {
  pseudotile = true
  preserve_split = true
  force_split=2
  split_width_multiplier = 1.3
}

misc {
  disable_splash_rendering = true
  disable_hyprland_logo = true
  focus_on_activate = true
  key_press_enables_dpms = true
}

render {
  cm_fs_passthrough = 2
}

plugin {
    hyprbars {
        bar_height = 24
        bar_color = $base
        bar_blur = false
        col.text = $iris
        bar_title_enabled = true
        bar_text_size = 10
        bar_text_font = $fontFamily
        bar_text_align = center
        bar_part_of_window = true
        bar_precedence_over_border = true
        bar_padding = 12

    }
}
